body {
        /* resets*/
        margin:0;
        padding:0;
        box-sizing: border-box;

        /*styling*/
        background-color: rgb(93, 93, 197);
}

.timeLine {
    position: relative;
    max-width: 1200px;
    margin:100px auto;
}

.timeline-box {
    position: relative;
    padding:10px 50px;
    width:50%;
    background-color: rgba(0, 0, 0, 0.103);
}


.box:nth-child(even) {
 left:0;
}

.box:nth-child(odd) {
 left:50%;
}



.textbox {
    position: relative;
    background-color: white;
    padding: 20px 30px;
    border-radius: 6px;
    font-size: 1.2em;
}


.left-container {
    left:0;

}

.right-container {
    left:50%;
}


.time-dot {
    background-color: white;
    position: absolute;
    width:3em;
    height:3em;
    border-radius: 50%;

}

.time-dot:nth-child(odd){

}

.time-dot:nth-child(even){
    
}